.fellow-travelers {
  position: relative;
  z-index: 8;
  background-color: #192144;
  padding-top: 100px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  background-image: url('/img/rogovaya-back-mobile@1x.png'), url('/img/blue-back-mobile.png'), url('/img/smolov-back-desktop@1x.png');
  background-repeat: no-repeat;
  background-size: 71px 71px, auto, 143px 143px;
  background-position-x: 0, 0, 90%;
  background-position-y: 373px, 69px, 69px;
}

@media (min-resolution: $retina-dppx) {
  .fellow-travelers {
    background-image: url('/img/rogovaya-back-mobile@2x.png'), url('/img/blue-back-mobile.png'), url('/img/smolov-back-desktop@2x.png');
  }
}

.fellow-travelers__text {
  padding: 34px 32px 86px 25px;
}

.fellow-travelers__slogan,
.fellow-travelers__slogan-2 {
  width: 215px;
  margin-top: 23px;
  color: #fff;
}

.fellow-travelers__button {
  display: flex;
  margin: 0 auto;
}

.fellow-travelers__tr-list {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .fellow-travelers {
    border-radius: 0 0 60px 60px;
    padding-top: 131px;
    padding-bottom: 80px;
    background-image: url('/img/rogovaya-back-desktop@1x.png'), url('/img/blue-back-big-rect.png'), url('/img/smolov-back-desktop@1x.png');
    background-repeat: no-repeat;
    background-size: 285px 285px, 213px 213px, 143px 143px;
    background-position-x: 90%, calc((100% - 84.37%) / 2), calc((100% - 84.37%) / 2);
    background-position-y: 145px, 145px, 487px;
  }

  @media (min-resolution: $retina-dppx) {
    .fellow-travelers {
      background-image: url('/img/rogovaya-back-desktop@2x.png'), url('/img/blue-back-big-rect.png'), url('/img/smolov-back-desktop@2x.png');
    }
  }

  .fellow-travelers__slogan {
    width: 433px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 68px;
    margin-bottom: 39px;
  }

  .fellow-travelers__slogan-2 {
    font-size: 21px;
    line-height: 25px;
    width: 265px;
  }
}

@media (min-width: $desktop-width) {
  .fellow-travelers {
    min-height: 821px;
    padding-bottom: 134px;
    padding-top: 155px;
    background-position-x: 193px, calc((100% - 84.37%) / 2), 551px;
    background-position-y: 443px, 145px, 191px;
  }

  .fellow-travelers__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .fellow-travelers__text {
    padding-top: 0;
    width: 50%;
    padding-bottom: 100px;
    padding-left: 71px;
  }

  .fellow-travelers__tr-list {
    padding-top: 0;
    width: 50%;
  }

  .fellow-travelers__button-container {
    width: 50%;
    margin-top: -100px;
    padding-left: 71px;
  }

  .fellow-travelers__button {
    margin: 0;
  }

}
