.filter {
  position: absolute;
  width: 100%;
  background-color: #e2e5f2;
  padding-top: 36px;
  border-radius: 0 0 20px 20px;

  & + section {
    padding-top: 77px;
  }

  .filter__open-filter {
    display: none;
  }

  .filter__region-list {
    display: block;
    width: 100%;
    list-style: none;
    padding-left: 26px;
    margin-top: 31px;
    margin-bottom: 19px;
  }

  &--hidden {
    position: relative;
    height: 69px;

    & + section {
      padding-top: 30px;
    }

    .filter__wrapper {
      min-height: auto;
    }

    .filter__open-filter {
      display: flex;
    }

    .filter__close-filter {
      display: none;
    }

    .filter__region-list {
      display: none;
    }

    .filter__country-list {
      display: none;
    }

    .filter__close-btn {
      display: none;
    }
  }
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 730px;
}

.filter__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 7px;

  span {
    display: none;
  }
}

.filter__title-icon {
  display: flex;
  align-items: center;
}

.filter__title {
  font-size: 16px;
  text-transform: uppercase;
  color: $second-color;
  margin-left: 13px;
}

.filter__icon {
  fill: $second-color;
  width: 15px;
  height: 10px;
}


.filter__region-list-item {
  text-transform: uppercase;
  color: $second-color;
  opacity: 0.3;
  margin-bottom: 4px;

  &--active {
    opacity: 1;
  }
}

.filter__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #d6daed;
  border-radius: 20px;
  height: 40px;
  margin-top: auto;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 17px;
  color: $prime-color;

  svg {
    margin-right: 10px;
  }
}

@media (min-width: $tablet-width) {
  .filter {
    padding-top: 80px;
    border-radius: 0 0 60px 60px;

    & + section {
      padding-top: 166px;
    }

    .filter__region-list {
      width: auto;
      display: flex;
      order: 1;
      font-size: 20px;
      margin: 0;
      padding-left: 33px;
    }

    &--hidden {
      height: 198px;

      & + section {
        padding-top: 30px;
      }

      .filter__region-list {
        display: flex;
      }
    }
  }

  .filter__wrapper {
    min-height: 752px;
  }

  .filter__menu {
    margin-top: 37px;
    margin-bottom: 75px;
  }

  .filter__title-icon {
    display: none;
  }

  .filter__region-list-item {
    margin-right: 26px;
    margin-bottom: 0;
  }

  .filter__btn {
    order: 2;
    margin-right: 37px;

    span {
      display: block;
      text-transform: uppercase;
      font-size: 20px;
      color: $second-color;
      margin-right: 63px;
    }
  }

  .filter__icon {
    width: 18px;
    height: 18px;
  }

  .filter__close-btn {
    height: 100px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 5px;
    width: 618px;
    font-size: 20px;

    svg {
      margin-right: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter {
    position: relative;
    min-height: auto;

    & + section {
      padding-top: 151px;
    }

    .filter__region-list {
      padding-left: 39px;
    }
  }

  .filter__wrapper {
    height: auto;
  }

  .filter__icon {
    width: 23px;
    height: 15px;
  }

  .filter__menu {
    padding-left: 20px;
    margin-bottom: 88px;
  }

  .filter__title-icon {
    position: relative;
    display: flex;
  }

  .filter__title {
    font-size: 20px;
    margin-left: 20px;
  }

  .filter__btn {
    position: relative;
    width: 170px;
    margin: 0 69px 0 auto;
    display: flex;
    justify-content: space-between;

    span {
      margin: 0;
      margin-right: 1px;
    }
  }

  .filter__close-btn {
    display: block;
    height: 100px;
    border-radius: 20px;
    margin-top: 0;
    width: 100%;
  }

  .filter__icon {
    &--close {
      width: 18px;
      height: 18px;
    }
  }

  .filter__icon-show {
    width: 18px;
    height: 18px;
  }
}
