.page-footer {
  position: relative;
  z-index: 10;
  margin-top: -30px;
  height: 239px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  padding-top: 35px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-image {
  display: block;
  margin-bottom: 41px;

  &--tablet {
    display: none;
  }
}

.page-footer__icons {
  margin-bottom: 37px;
  width: 134px;
  border: 1px solid red;
  height: 50px;
}

.page-footer__low {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 48px;
    height: 152px;
  }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-image {
    display: block;
    margin-bottom: 0;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .page-footer__icons {
    margin-bottom: 0;
  }

  .page-footer__low {
    width: 159px;
    align-items: center;
    padding-top: 0;
    border-top: none;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
  }
}
