
.page-main {

  &--filter {
    background-color: #edeff6;
    padding-bottom: 71px;
  }
}

.page-main__list {
  background-color: #192144;
  padding-bottom:39px;
  border-top: 1px solid transparent;
}

.page-main__steps-list {
  position: relative;
  z-index: 10;
  margin-top: -80px;
}

.page-main__about {
  min-height: 352px;
  padding-top: 30px;
  position: relative;
  z-index: 10;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  background-image: url('/img/about-mobile@1x.png'), url('/img/blue-back-mobile.png') ;
  background-repeat: no-repeat, no-repeat;
  background-position-x: center, 0;
  background-position-y: 100%, 0;
}

@media (min-resolution: $retina-dppx) {
  .page-main__about {
    background-image: url('/img/about-mobile@2x.png'), url('/img/blue-back-mobile.png') ;
    background-size: 277px 352px, auto;
  }
}

.page-main__about-wrapper {
  padding-right: 32px;
  padding-left: 25px;
}

.page-main__about-slogan,
.page-main__about-slogan-2 {
  margin-top: 23px;
  margin-bottom: 20px;
  color: #fff;
  width: 211px;
}

.page-main__about-button {
  display: none;
}

.page-main__directions {
  position: relative;
  margin-top: -30px;
}

.page-main__fellow-travelers {
  margin-top: -30px;
}

.page-main__profile {
  position: relative;
  margin-top: -30px;
}

.page-main__choose-fellow-travelers {
  padding-top: 30px;
}

.page-main__filter {
  position: relative;
  z-index: 100;
  margin-top: -20px;
}

@media (min-width:$tablet-width) {
  .page-main__steps-list {
    margin-top: -140px;
  }

  .page-main__about {
    padding-left: 35px;
    border-radius: 0 0 60px 60px;
    background-image: url('/img/about-tablet@1x.png'), url('/img/blue-back-big.png') ;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position-x: 98%, 40px;
    background-position-y: 52px, 0;
  }

  @media (min-resolution: $retina-dppx) {
    .page-main__about {
      background-image: url('/img/about-tablet@2x.png'), url('/img/blue-back-big.png');
      background-size: 376px 548px, auto;
    }
  }

  .page-main__about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 548px;
    padding: 34px 32px 104px 25px;
  }

  .page-main__about-button {
    display: flex;
    width: 275px;
    margin-top: 47px;
  }

  .page-main__about-slogan,
  .page-main__about-slogan-2 {
    width: 310px;
  }

  .page-main__about-slogan {
    font-size: 28px;
    line-height: 33px;
  }
  .page-main__about-slogan-2 {
    font-size: 21px;
  }

  .page-main__directions {
    margin-top: -60px;
  }

  .page-main__fellow-travelers {
    margin-top: -60px;
  }

  .page-main__filter {
    margin-top: -60px;
  }
}

@media (min-width:$desktop-width) {

  .page-main__list {
    padding-bottom: 0;
  }

  .page-main__about {
    min-height: 750px;
    padding-left: 69px;
    background-image: url('/img/about-desktop@1x.png'), url('/img/blue-back-big-rect.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 630px 665px, auto;
    background-position-x: calc(84.37% + (100% - 84.37%) / 2), 60px;
    background-position-y: 100%, 71px;
  }

  @media (min-resolution: $retina-dppx) {
    .page-main__about {
      background-image: url('/img/about-desktop@2x.png'), url('/img/blue-back-big-rect.png');
    }
  }

  .page-main__about-slogan {
    width: 618px;
    margin-top: 59px;
  }

  .page-main__about-slogan-2 {
    width: 412px;
    margin-top: 33px;
    margin-bottom: 84px;
  }
}
