
.page-main {
  &--filter {
    background-color: #edeff6;
    padding-bottom: 82px;
  }
}

.page-main__list {
  background-color: #192144;
  padding-bottom: 39px;
  border-top: 1px solid transparent;
}

.page-main__steps-list {
  position: relative;
  z-index: 10;
  margin-top: -80px;
}

.page-main__about {
  min-height: 352px;
  padding-top: 28px;
  position: relative;
  z-index: 10;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  background-image: url("../img/about-mobile@1x.png"), url("../img/blue-back-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: center, 0;
  background-position-y: 100%, 0;
}

@media (min-resolution: $retina-dppx) {
  .page-main__about {
    background-image: url("../img/about-mobile@2x.png"), url("../img/blue-back-mobile.png");
    background-size: 277px 352px, auto;
  }
}

.page-main__about-wrapper {
  padding-top: 2px;
  padding-right: 32px;
  padding-left: 25px;
}

.page-main__about-slogan,
.page-main__about-slogan-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  width: 211px;
}

.page-main__about-button {
  display: none;
}

.page-main__directions {
  position: relative;
  margin-top: -30px;
}

.page-main__fellow-travelers {
  margin-top: -30px;
}

.page-main__profile {
  position: relative;
  margin-top: -30px;
}

.page-main__choose-fellow-travelers {
  padding-top: 30px;

  &--padding {
    padding-top: 77px;
  }
}

.page-main__filter {
  position: relative;
  z-index: 100;
  margin-top: -20px;
}

@media (min-width: $tablet-width) {
  .page-main {
    &--filter {
      padding-bottom: 99px;
    }
  }

  .page-main__steps-list {
    margin-top: -140px;
  }

  .page-main__about {
    padding-top: 71px;
    padding-left: 9px;
    border-radius: 0 0 60px 60px;
    background-image: url("../img/about-tablet@1x.png"), url("../img/blue-back-big.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position-x: 98%, 40px;
    background-position-y: 103px, 56px;

    span {
      display: block;
    }
  }

  @media (min-resolution: $retina-dppx) {
    .page-main__about {
      background-image: url("../img/about-tablet@2x.png"), url("../img/blue-back-big.png");
      background-size: 376px 548px, auto;
    }
  }

  .page-main__about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 548px;
    padding: 34px 32px 89px 25px;
  }

  .page-main__about-button {
    display: flex;
    width: 275px;
    margin-top: 33px;
  }

  .page-main__about-slogan,
  .page-main__about-slogan-2 {
    width: 310px;
  }

  .page-main__about-slogan {
    font-size: 28px;
    margin-top: 51px;
    line-height: 33px;
    margin-bottom: 12px;
  }

  .page-main__about-slogan-2 {
    font-size: 21px;
    line-height: 25px;
  }

  .page-main__directions {
    margin-top: -60px;
  }

  .page-main__fellow-travelers {
    margin-top: -60px;
  }

  .page-main__filter {
    margin-top: -60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    &--filter {
      padding-bottom: 139px;
    }
  }

  .page-main__steps-list {
    margin-top: -230px;
  }

  .page-main__list {
    padding-bottom: 0;
  }

  .page-main__about {
    min-height: 750px;
    background-image: url("../img/about-desktop@1x.png"), url("../img/blue-back-big-rect.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 630px 665px, auto;
    background-position-x: calc((100% - 1320px) / 2 + 1004px), calc((100% - 1320px) / 2 + 107px);
    background-position-y: 100%, 71px;
    padding: 0;
  }

  .page-main__about-wrapper {
    padding: 138px 32px 89px 69px;
  }

  @media (min-resolution: $retina-dppx) {
    .page-main__about {
      background-image: url("../img/about-desktop@2x.png"), url("../img/blue-back-big-rect.png");
    }
  }

  .page-main__about-slogan {
    width: 618px;
    margin-top: 68px;

    span {
      display: inline;
    }
  }

  .page-main__about-slogan-2 {
    width: 412px;
    margin-top: 28px;
    margin-bottom: 53px;
  }
}
