.toogle-btn{
  @include clear-btn;
  cursor:pointer;
}
.toogle-btn__svg{
  fill:#fff;

  &--gray {
   fill: #cccccc;
  }
}


@media (min-width: $desktop-width){
  .toogle-btn{
    display:none;
  }
}
