$tablet-width: 768px;
$desktop-width: 1440px;
$predesktop-width: 1399px;
$prime-color: #161c36;
$second-color: #192144;
$text-color: #1d2e5b;
$main-yellow: #ffd74b;
$main-orange: #ff8d30;
$retina-dppx: 1.5dppx;
